body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background-color: #90eb6d;
    color: black;
    border-radius: 0;
    border-bottom: 5px solid black;
}

#currentDay.lead {
    font-size: 1.5rem;
    color: blue;
}

.col-md-2 {
    background-color: #90eb6d;
    font: black;
    border-radius: 10px;
}

.footer-copyright{
    padding: 10px;
    background-color: black;
}
  
.footer-text{
    color: white;
    font-style: italic;
}